body {
    background-color: rgb(220, 247, 248);text-align: center;border-style:solid ;border-color: darkblue;border-width: 20px;margin: 0px;
    $grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
    );
}
h5 {
    color: rgb(37, 70, 175);font-size: 20px;
}
p {
    color:rgb(37, 37, 128);font-size: 18px;
}
h1 {
    color:white;font-family: 'Times New Roman', Times, serif;font-size: 50px;
}
a {
    font-size: 20px;
}
.title {
    color:blue;
    position: sticky;
    top: 0px;
    background-color: darkblue;
}
.list {
    font-size: x-large;
}